.projects,
.contacts {
  background-color: #011627;
}

.contacts {
  height: 100vh;
}
.flex-redes {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.flex-redes li {
  list-style: none;
}
.card-project {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  border-left: 2.5px solid #fff;
  border-bottom: 2.5px solid #fff;
  padding: 3rem;
  border-bottom-left-radius: 10px;
}
.card-border {
  border-left: none;
  border-right: 2.5px solid #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0px;
}
.card-info {
  width: 35%;
  text-align: justify;
}

.card-img img {
  width: 37rem;
  height: 19rem;
  border-radius: 20px;
}

.card-project h2 {
}

.card-project p {
}
